.header-child {
    position: absolute;
    top: 65px;
    left: 0;
    background-color: var(--color-black);
    max-width: 200%;
    width: 200%;
    height: 80%;
  }
  .rolexhomepage-1-icon {
    position: absolute;
    top: 73px;
    right: 70px;
    max-width:100%;
    height: 262px;
    object-fit: cover;
  }
  .get-90-off {
    margin: 0;
  }
  .get-90-off-container {
    font-family: 'Lato', sans-serif;
    font-family: 'Montagu Slab', serif;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Playfair Display', serif;
    position: absolute;
    top: 123px;
    left: 121px;
    font-size: var(--font-size-29xl);
    color: var(--color-white);
  }
  .watchgoods-trusted-since {
    position: absolute;
    top: 350px;
    left: 100px;
    font-size: 50%;
  }
  .about-us9,
  .contact-us8,
  .locations7,
  .products1 {
    font-family: 'Lato', sans-serif;
    font-family: 'Montagu Slab', serif;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Playfair Display', serif;
    position: absolute;
    top: 0;
    right: 70px;
    cursor: pointer;
  }
  .contact-us8,
  .locations7,
  .products1 {
    right: 300px;
  }
  .contact-us8,
  .products1 {
    right: 530px;
  }
  .products1 {
    right: 800px;
  }
  .header {
    position: absolute;
    top: 37px;
    left: -68px;
    width: 1920px;
    height: 350px;
  }
  .category,
  .home-child {
    font-family: 'Lato', sans-serif;
    font-family: 'Montagu Slab', serif;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Playfair Display', serif;
    position: absolute;
    top: 440px;
    left: 37px;
  }
  .home-child {
    top: 516px;
    border-radius: var(--br-3xs);
    background-color: #f3baba;
    width: 287px;
    height: 68px;
  }
  .new-arrival {
    font-family: 'Lato', sans-serif;
    font-family: 'Montagu Slab', serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Playfair Display', serif;
    position: absolute;
    top: 526px;
    left: 71px;
  }
  .seiokologo-1-icon {
    position: absolute;
    bottom: 13px;
    left: 340px;
    width: 377px;
    height: 212px;
    object-fit: cover;
  }
  .brand1 {
    font-family: 'Lato', sans-serif;
    font-family: 'Montagu Slab', serif;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Playfair Display', serif;
    position: absolute;
    top: 0;
    left: 720px;
  }
  .g-shock-logo-1-icon,
  .rolex-logo-design2-1-icon {
    position: absolute;
    top: 76px;
    left: 1300px;
    width: 270px;
    height: 270px;
    object-fit: cover;
  }
  .g-shock-logo-1-icon {
    top: 84px;
    left: 0;
    width: 241px;
    height: 241px;
  }
  .seiokologo-1-icon{
    left: 630px;
  }
  .brand {
    position: absolute;
    bottom: 350px;
    left: 154px;
    width: 1203px;
    height: 333px;
    font-size: var(--font-size-21xl);
    color: var(--color-black);
  }
  .watch-new-arrival-child,
  .watch-new-arrival-item {
    position: absolute;
    top: 0;
    left: 88px;
    background-color: var(--color-black);
    width: 347px;
    height: 360px;
  }
  .watch-new-arrival-item {
    left: 800px;
  }
  .rolexnewarrival1-2-icon {
    position: absolute;
    top: 34px;
    left: 150px;
    max-width: 100%;
    width: 192px;
    height: 210px;
    object-fit: cover;
  }
  .watch-new-arrival-inner {
    position: absolute;
    top: 0;
    left: 1450px;
    background-color: var(--color-black);
    width: 347px;
    height: 360px;
  }
  .rolexnewarrival2-1-icon,
  .rolexnewarrival2-2-icon {
    position: absolute;
    top: 34px;
    left: 870px;
    max-width: 100%;
    width: 220.16px;
    height: 217.35px;
    object-fit: cover;
  }
  .rolexnewarrival2-2-icon {
    top: 27px;
    left: 1510px;
    max-width: 100%;
    width: 226.72px;
    height: 232.04px;
  }
  .rolex-mens- {
    position: absolute;
    top: 275px;
    left: 162px;
  }
  .rolex-hj-120,
  .rolex-womens- {
    position: absolute;
    top: 275px;
    left: 1510px;
  }
  .rolex-womens-{
    width: 40%;
  }
  .rolex-hj-120 {
    left: 920px;
  }
  .harga15,
  .harga17,
  .harga34 {
    position: absolute;
    top: 308px;
    left: 128px;
    font-size: large;
  }
  .harga17,
  .harga34 {
    left: 600px;
  }
  .harga34 {
    left: 1550px;
    width: 100%;
  }
  .harga15{
    left: 180px;
  }
  .harga17{
    left: 910px;
  }

  .group-child {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color-black);
    width: 2100px;
    height: 200px;
  }
  .about-us10,
  .contact-us9,
  .locations8 {
    position: absolute;
    top: 100px;
    left: 82px;
    cursor: pointer;
  }
  .contact-us9,
  .locations8 {
    top: 20px;
    width: 225.69px;
  }
  .locations8 {
    top: 88px;
    width: 194.97px;
    left: 80px;
  }
  .about-us10{
    top: 150px;
    width: 194.97px;
    left: 80px;
  }
  .rectangle-parent {
    position: absolute;
    top: 900px;
  }
  .watch-new-arrival {
    position: absolute;
    bottom: -716px;
    left: -3px;
    width: 1443px;
    height: 1103px;
    font-size: var(--font-size-xl);
    color: var(--color-white);
  }
  .home {
    position: relative;
    background-color: var(--color-whitesmoke);
    max-width: 100%;
    width: 100%;
    height: 1024px;
    overflow: auto;
    text-align: left;
    font-size: var(--font-size-21xl);
    color: var(--color-black);
    font-family: var(--font-inter);
  }
  @media screen and (max-width: 780px) {
    .header-child {
        position: absolute;
        top: 65px;
        left: 0;
        background-color: var(--color-black);
        max-width: 100%;
        width: 500px;
        height: 150px;
      }
      .rolexhomepage-1-icon {
        position: absolute;
        top: 90px;
        left: 350px;
        max-width:100%;
        width: 100px;
        height:100px;
        object-fit: cover;
      }
      .get-90-off {
        margin: 0;
      }
      .get-90-off-container {
        font-family: 'Lato', sans-serif;
        font-family: 'Montagu Slab', serif;
        font-family: 'Noto Sans', sans-serif;
        font-family: 'Playfair Display', serif;
        position: absolute;
        top: 123px;
        left: 80px;
        font-size: large;
        color: var(--color-white);
      }
      .watchgoods-trusted-since {
        position: absolute;
        top: 350px;
        left: 100px;
        font-size: 50%;
      }
      .about-us9,
      .contact-us8,
      .locations7,
      .products1 {
        font-family: 'Lato', sans-serif;
        font-family: 'Montagu Slab', serif;
        font-family: 'Noto Sans', sans-serif;
        font-family: 'Playfair Display', serif;
        position: absolute;
        top: 0;
        left: 100px;
        font-size: medium;
        cursor: pointer;
      }
      .about-us9{
        left: 350px;
      }
      .contact-us8,
      .locations7,
      .products1 {
        left: 100px;
      }
      .contact-us8,
      .products1 {
        left: 100px;
      }
      .products1 {
        left: px;
      }
      .contact-us8 {
        left: 185px;
      }
      .locations7{
        left: 260px;
      }
      .header {
        position: absolute;
        top: 37px;
        left: -68px;
        width: 600px;
        height: 100px;
      }
      .category,
      .home-child {
        position: absolute;
        top: 300px;
        left: 37px;
      }
      .category{
        font-size: large;
      }
      .home-child {
        top: 340px;
        border-radius: var(--br-3xs);
        background-color: #f3baba;
        width: 150px;
        height: 40px;
      }
      .new-arrival {
        font-family: 'Lato', sans-serif;
        font-family: 'Montagu Slab', serif;
        font-family: 'Montserrat', sans-serif;
        font-family: 'Noto Sans', sans-serif;
        font-family: 'Playfair Display', serif;
        font-size: medium;
        position: absolute;
        top: 350px;
        left: 71px;
      }
      .seiokologo-1-icon {
        position: absolute;
        bottom: 13px;
        left: 340px;
        width: 377px;
        height: 212px;
        object-fit: cover;
      }
      .brand1 {
        font-family: 'Lato', sans-serif;
        font-family: 'Montagu Slab', serif;
        font-family: 'Noto Sans', sans-serif;
        font-family: 'Playfair Display', serif;
        position: absolute;
        top: -350px;
        left: 115px;
        width: 150px;
        font-size: x-large;
      }
      .g-shock-logo-1-icon,
      .rolex-logo-design2-1-icon {
        position: absolute;
        top: 76px;
        left: 100px;
        width: 100px;
        height: 100px;
        object-fit: cover;
      }
      .rolex-logo-design2-1-icon{
        top: -250px;
        left: 215px;
        width: 150px;
        height: 100px;
      }
      .g-shock-logo-1-icon {
        top: -250px;
        left: 5px;
        width: 100px;
        height: 100px;
      }
      .seiokologo-1-icon{
        top: -250px;
        height: 100px;
        width: 100px;
        left: 120px;
      }
      .brand {
        position: absolute;
        bottom: -140px;
        left: 9px;
        width: 10px;
        height: 10px;
        font-size: Large;
        color: var(--color-black);
      }
      .watch-new-arrival-child,
      .watch-new-arrival-item{
        display: inline-block;
        margin-right: 10px;
        position: absolute;
        top: 30px;
        left: 70px;
        background-color: var(--color-black);
        width: 230px;
        height: 200px;
      }
      .watch-new-arrival-item {
        left: 70px;
      }
      .rolexnewarrival1-2-icon {
        position: absolute;
        top: 40px;
        left: 125px;
        max-width: 100%;
        width: 120px;
        height: 135px;
        object-fit: cover;
      }
      .watch-new-arrival-inner {
        position: absolute;
        top: 300px;
        left: 70px;
        background-color: var(--color-black);
        width: 230px;
        height: 200px;
      }
      .rolexnewarrival2-1-icon,
      .rolexnewarrival2-2-icon {
        position: absolute;
        top: 600px;
        left: 100px;
        max-width: 100%;
        width: 120px;
        height: 150px;
        object-fit: cover;
      }
      .rolexnewarrival2-2-icon {
        top: 320px;
        left: 120px;
        max-width: 100%;
        width: 120px;
        height: 130px;
      }
      .watch-new-arrival-inner2{
        position: absolute;
        top: 580px;
        left: 70px;
        background-color: var(--color-black);
        width: 230px;
        height: 200px;
      }
      .rolex-mens- {
        position: absolute;
        top: 180px;
        left: 90px;
      }
      .rolex-hj-120,
      .rolex-womens- {
        position: absolute;
        top: 450px;
        left: 75px;
      }
      .rolex-womens-{
        width: 40%;
      }
      .rolex-hj-120 {
        top: 750px;
        left: 100px;
      }
      .harga15,
      .harga17,
      .harga34 {
        position: absolute;
        top: 130px;
        left: 128px;
        font-size: medium;
      }
      .harga17,
      .harga34 {
        left: 600px;
      }
      .harga34 {
        left: 1550px;
        width: 100%;
      }
      .harga15{
        top: 210px;
        left: 125px;
      }
      .harga17{
        top: 480px;
        left: 120px;
      }
    
      .group-child {
        position: absolute;
        bottom: 0;
        top: 200px;
        left: 0;
        background-color: var(--color-black);
        width: 1000px;
        height: 200px;
      }
      .about-us10,
      .contact-us9,
      .locations8 {
        position: absolute;
        bottom: 0;
        top: -600px;
        left: 82px;
        cursor: pointer;
        font-size: large;
      }
      .locations8{
        top: 250px;
        width: 194.97px;
        left: 30px;
      }
      .contact-us9{
        top: 300px;
        width: 200px;
        left: 30px;
      }
      .about-us10{
        top: 350px;
        width: 200px;
        left: 30px;
      }
      
      .rectangle-parent {
        position: absolute;
        bottom: 0;
        top: 140vh;
        margin-bottom: 0;
      }
      .watch-new-arrival {
        position: absolute;
        bottom: -716px;
        left: -3px;
        width: 1443px;
        height: 1103px;
        font-size: var(--font-size-xl);
        color: var(--color-white);
      }
      .home {
        position: relative;
        background-color: var(--color-whitesmoke);
        max-width: 100%;
        width: 100%;
        height: 780px;
        overflow: auto;
        text-align: left;
        font-size: var(--font-size-21xl);
        color: var(--color-black);
        font-family: var(--font-inter);
      }
  }