.store-1-icon {
    position: absolute;
    top: 211px;
    left: 680px;
    width: 742px;
    height: 420px;
    object-fit: cover;
  }
  .our-official-store {
    font-family: 'Lato', sans-serif;
    font-family: 'Montagu Slab', serif;
    font-family: 'Noto Sans', sans-serif;
    position: absolute;
    top: 145px;
    left: 900px;
  }
  .gunung-sahari-street {
    margin: 0;
  }
  .gunung-sahari-street-container {
    position: absolute;
    font-family: 'Lato', sans-serif;
    font-family: 'Montagu Slab', serif;
    font-size: xx-large;
    top: 40px;
    left: 660px;
  }
  .contact-us-at-container {
    color: rgb(0, 0, 0);
    position: absolute;
    text-align: justify;
    top: 200px;
    left: 730px;
    font-family: 'Lato', sans-serif;
    font-family: 'Montagu Slab', serif;
    font-size: x-large;
  }
  .or-click-here {
    position: absolute;
    color: blue;
    top: 380px;
    left: 650px;
    font-size: medium;
    display: inline-block;
    width: 382.51px;
    cursor: pointer;
  }
  .or-click-here:hover{
    color: red;
  }
  .group-child16 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: var(--color-black);
    width: 2100px;
    height: 200px;
  }
  .about-us5,
  .contact-us6,
  .locations5 {
    position: absolute;
    top: 100px;
    left: 10px;
    cursor: pointer;
    color: white;
    font-size: large;
  }
  .contact-us6,
  .locations5 {
    top: 20px;
    width: 225.69px;
  }
  .locations5 {
    top: 88px;
    width: 194.97px;
    left: 20px;
  }
  .about-us5{
    top: 150px;
    left: 75px;
  }
  .rectangle-parent,
  .text {
    position: absolute;
    left: 0;
    width: 1443px;
  }
  .rectangle-parent {
    position: absolute;
    top: 900px;
  }
  .text {
    top: 649px;
    height: 799px;
    text-align: center;
  }
  .location {
    position: relative;
    background-color: var(--color-whitesmoke);
    width: 100%;
    height: 1024px;
    overflow-y: auto;
    text-align: left;
    font-size: var(--font-size-21xl);
    color: var(--color-black);
    font-family: var(--font-inter);
  }
  .about-us9,
  .contact-us8,
  .locations7,
  .products1 {
  font-size: x-large;
  font-family: 'Playfair Display', serif;
  position: absolute;
  top: 50px;
  right: 70px;
  cursor: pointer;
}
.contact-us8,
.locations7,
.products1 {
  right: 200px;
}
.contact-us8,
.products1 {
  right: 350px;
}
.products1 {
  right: 500px;
} 

  @media screen and (max-width: 768px) {
    body{
      margin: 0;
    }
    .store-1-icon {
        position: absolute;
        top: 250px;
        left: 30px;
        width: 300px;
        height: 200px;
        object-fit: cover;
      }
      .our-official-store {
        font-family: 'Lato', sans-serif;
        font-family: 'Montagu Slab', serif;
        font-family: 'Noto Sans', sans-serif;
        position: absolute;
        top: 150px;
        left: 50px;
        font-weight: bold;
        font-size: xx-large;
      }
      .gunung-sahari-street {
        margin: 0;
      }
      .gunung-sahari-street-container {
        position: absolute;
        width: 300px;
        top: -170px;
        left: 30px;
        font-size: x-large;
      }
      .contact-us-at-container {
        position: absolute;
        top: 10px;
        left: 40px;
        font-size: large;
      }
      .or-click-here {
        position: absolute;
        top: 150px;
        left: -60px;
        display: inline-block;
        width: 382.51px;
        font-size: small;
        cursor: pointer;
      } 
      .group-child16 {
        position: absolute;
        top: auto;
        left: 0;
        bottom: auto;
        background-color: var(--color-black);
        width: 100%;
      }
      .about-us5,
      .contact-us6,
      .locations5 {
        position: absolute;
        left: 80px;
        cursor: pointer;
        color: white;
        font-size: large;
      }
      .contact-us6,
      .locations5 {
        top: 30px;
        width: 200px;
        left: -10px;
      }
      .locations5 {
        top: 65px;
        left: -15px;
      }
      .about-us5{
        top: 100px;
        width: 194.97px;
        left: -15px;
      }
      .rectangle-parent,
      .text {
        position: absolute;
        left: 0;
        width: 1443px;
      }
      .rectangle-parent {
        top: 800px;
      }
      .text {
        top: 649px;
        height: 799px;
        text-align: center;
      }
      .location {
        position: relative;
        background-color: var(--color-whitesmoke);
        width: 100%;
        height: 768px;
        overflow-y: auto;
        text-align: left;
        font-size: var(--font-size-21xl);
        color: var(--color-black);
        font-family: var(--font-inter);
      }
      .about-us9,
.contact-us8,
.locations7,
.products1 {
  font-size: medium;
  font-family: 'Playfair Display', serif;
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
}
.contact-us8,
.locations7,
.products1 {
  right: 100px;
}
.contact-us8,
.products1 {
  right: 180px;
}
.products1 {
  right: 270px;
}
  }